<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.site.title %></title>
    <%= csrf_meta_tags %>
    <!--<%= stylesheet_link_tag "/assets/css/bootstrap.min.css", media: "all" %>-->
    <!--<%= stylesheet_link_tag "/assets/css/sb-admin.css", media: "all" %>-->
    <!--<%= stylesheet_link_tag "/assets/css/plugins/morris.css", media: "all" %>-->
    <!--<%= stylesheet_link_tag "/assets/font-awesome/css/font-awesome.min.css", media: "all" %>-->
    <%= stylesheet_link_tag "application", media: "all"%>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">SB Admin</a>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
